html {
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: inherit;
    padding: 5px;
}

body h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#cuestionario-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cuestionario {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

#enviar-form {
    font-weight: bold;
    width: 60px;
    height: 30px;
}

#respuesta-incorrecta4 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta4 {
    display: none;
    font-weight: bold;
    color: green;
}

#respuesta-correcta3 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta3 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta2 {
    display: none;
    font-weight: bold;
    color: green;
}

#respuesta-incorrecta2 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta1 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta1 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta5 {
    display: none;
    font-weight: bold;
    color: green;
}

#respuesta-incorrecta5 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta6 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta6 {
    display: none;
    font-weight: bold;
    color: red;
}

#respuesta-correcta7 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta7 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta8 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta8 {
    display: none;
    color: red;
    font-weight: bold;
}

#respuesta-correcta9 {
    display: none;
    color: green;
    font-weight: bold;
}

#respuesta-incorrecta9 {
    display: none;
    color: red;
    font-weight: bold;
}